NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
SUBSCRIBER_API_TOKEN=ce05970b5defea89d889a8e14e204ff41dca961add136fd8e8189f6efcd6e4f5
ADMIN_EMAILS=
ADMIN_API_TOKEN=
TELEGRAM_BOT_TOKEN=8892458215:AAG5rQ69j8zB5L2nRBoGYWGnY0hpf41cTpA
TELEGRAM_BOT_USERNAME=Aigentra_bot
